body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px 40px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.checkout-section {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  padding: 30px;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
}

.checkout-section:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.checkout-section h2 {
  margin-bottom: 30px;
  color: #333;
  font-size: 1.5em;
}

.checkout-section p {
  margin: 0 0 15px;
  line-height: 1.6;
  color: #666;
}

.checkout-section button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.checkout-section button:hover {
  background-color: #0056b3;
}
.checkout-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease-out;
}

.checkout-button:hover {
  background-color: #0056b3;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.nav-items a:hover {
  color: #FFD700; /* Golden color on hover */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  height: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
}

.product-catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-card h2 {
  font-size: 1.2em;
  color: #333;
  margin: 10px 0;
}
.logout {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.logout:hover {
  color: #FFD700; /* Golden color on hover */
}
.product-card button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 5px;
}

.product-card button:hover {
  background-color: #45a049;
}